@import "tailwindcss";

@theme inline {
  --color-primary: #76a4ae;
  --color-secondary: #dfebee;
  --shadow-primary: 0px 3.46px 3.46px 0px #0000000f;
  --color-primary-700: #3c5862;
  --color-primary-950: #1d292f;
  --color-grey-700: #574d4d;
  --color-neutral-100: #fcfcfd;
  --color-neutral-200: #f3f4f6;
  --color-primary-50: #f3f8f8;
  --color-shark-200: #dddada;
  --color-primary-300: #9abfc6;
  --color-primary-500: #4e808c;
  --color-primary-900: #314148;
  --color-primary-400: #76a4ae;
}

body {
}

html[lang="en"] img[alt="field-arrow-icon"] {
  transform: rotate(180deg) !important;
}

.service-card:nth-child(3n + 2) {
  background-color: var(--color-secondary);

  p {
    color: var(--color-primary-950);
  }

  button {
    background-color: var(--color-primary-400);
  }
}
